{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Inserir nova vantagem</h1>
{% if erro %}
<div class="alert alert-danger">
    {{ erro }}
</div>
{% endif %}
<form action="{% url 'nova_vantagem' %}" method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Descrição">
    </div>
    <div class="form-group">
        <label for="valor">Valor</label>
        <input type="number" name="valor" id="valor" class="form-control" placeholder="Valor" required>
    </div>
    <div class="form-group">
        <label for="imagem">Imagem</label>
        <input type="file" name="imagem" id="imagem" class="form-control-file" accept="image/*">
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary">
</form>
{% endblock %}